@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Robot', sans-serif;
    background-color: black;
}
.titlle {
    font-size: 20.58px;
}
header {
    margin-top: 0;
    height: 80px;
    position: relative;   
}

nav {
    position: relative;
}
#logo {
    position: absolute;
    left: 20px;
    bottom: -50px;
}

#menu {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    margin-left: 200px;
}
#menu li {
    display: inline;
    
}

#menu li a.titlle { 
    padding: 30px 14px;
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    display: inline;
    transition: 0.5s;
}
#menu a:hover {
    background-color: #5d7fb9;
}

/* .table {
 color:black ;
 border:3px ;
 height:300px ;
 width:900px;
 align-content:center;
} */

table tr td img {
    height:600px;
    width:700px;
    align-content:absmiddle;
    border-color:dark;
    position: relative;
    transition: opacity 1s;
}

table tr td img:hover {
    opacity: 0.5;
}